@charset "UTF-8";

body {
  background: pink;
}

/* width <= 800px */
@media (max-width: 800px) {
  body {
    background: skyblue;
  }
}

@media (max-width: 600px) {
  body {
    background: orange;
  }
}
